---
title: Graphing the Pros
---
<header class="header">
  <h1>Graphing the Pros</h1>
</header>

<div class="filters">
  <label for="Min Games">Min Games:</label>
  <input name="Min Games" type="number" class="js-min-games js-input" value="20" />
  <label for="Max Games">Max Games:</label>
  <input name="Max Games" type="number" class="js-max-games js-input" value="250" />

<!--   <select class="js-">
    <option value="">None</option>
    <option value="role">Role</option>
    <option value="region">Region</option>
  </select> -->

  <!-- <button>Mean/Meme</button> -->
</div>

<section id="graphing-the-pros" class="graph"></section>

<section class="content">
  <div>See how the pros fare in Korean solo queue. Made with data from <a href="https://www.trackingthepros.com/bootcamp">Tracking the Pros.</a></div>

  <div>Updated at <%= Time.now %></div>
</section>

<footer class="footer">
  <a href="https://github.com/markjanzer/graphing-the-pros"><%= image_tag "GitHub-Mark-32px.png" %></a>
</footer>

<script>
  var data = <%= config[:pro_data].to_json %>
  var time = <%= Time.now.to_i %>
</script>

<%= javascript_include_tag "site" %>